<!DOCTYPE html>
<html>

<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=email_r%20listings_r%20listings_w%20listings_d%20transactions_r%20transactions_w%20cart_w%20cart_r&client_id=3o11obtplbty1mhwh5hqy3gz&state=jahtuk&code_challenge=GlBAXJqHeDr7RDaA6lJjlCuIbO1yp3M9z2AUaHVc_KQ&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>

</html>